**Esercizio** 

Abbiamo la stringa:
* nome_scuola = "Epicode

Stampare ogni carattere della stringa, uno su ogni riga, utilizzando un costrutto while.

In [1]:
nome_scuola='Epicode'
variabile=0

In [2]:
while variabile<len(nome_scuola):
    print('-',nome_scuola[variabile])
    variabile+=1

- E
- p
- i
- c
- o
- d
- e

**Esercizio**

Stampare a video tutti i numeri da 0 a 20 utilizzando il costrutto while. Utilizzeremo: 
* un ciclo while 
* la funzione print() 
* una variabile, che dovrà essere inizializzata 
* una procedura di incremento

In [3]:
variabile=0
while variabile<=20:
    print(variabile)
    variabile+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

**Esercizio**

Calcolare e stampare tutte le prime 10 potenze di 2 (e.g., 2⁰, 2¹, 2², …) utilizzando un ciclo while.

In [4]:
potenza=0
while potenza<=10:
    variabile=2**potenza
    print(variabile)
    potenza+=1

1
2
4
8
16
32
64
128
256
512
1024

**Esercizio**

Calcolare e stampare tutte le prime N potenze di 2 utilizzando un ciclo while, domandando all'utente di inserire N.

In [5]:
n_potenza=int(input("Inserisci il numero n a cui elevera a potenza 2:"))

Inserisci il numero n a cui elevera a potenza 2: 10

In [6]:
n_potenza
potenza=0
while potenza<=n_potenza:
    variabile=2**potenza
    print(variabile)
    potenza+=1

1
2
4
8
16
32
64
128
256
512
1024

**Esercizio**

Calcolare e stampare tutte le potenze di 2 minori di 25000.

In [7]:
potenza=0
variabile=2**potenza
while variabile<=25000:
    variabile=2**potenza
    if variabile<=25000:
        print('2^',potenza,'=',variabile)
    potenza+=1

2^ 0 = 1
2^ 1 = 2
2^ 2 = 4
2^ 3 = 8
2^ 4 = 16
2^ 5 = 32
2^ 6 = 64
2^ 7 = 128
2^ 8 = 256
2^ 9 = 512
2^ 10 = 1024
2^ 11 = 2048
2^ 12 = 4096
2^ 13 = 8192
2^ 14 = 16384

**Esercizio (1/2)**

Abbiamo due liste, una di studenti e una di corsi: 
* studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"] 
* corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend"]

In [8]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"]

In [9]:
corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend"]

**Esercizio (2/2)**

Aggiungere i dati mancanti alla lista corsi, sapendo che 
* Emma segue Data Analyst
* Faith segue Backend
* Grace segue Frontend
* Henry segue Cybersecurity

Aggiungeremo i dati mancanti uno alla volta con il metodo per appendere in coda alle liste, poi verificheremo che sono della stessa lunghezza e se lo sono stamperemo la lista corsi. Se alcuni dati sono già presenti non vanno aggiunti di nuovo.

In [10]:
corsi.append("Frontend")
corsi.append("Cybersecurity")
corsi

['Cybersecurity',
 'Data Analyst',
 'Backend',
 'Frontend',
 'Data Analyst',
 'Backend',
 'Frontend',
 'Cybersecurity']

In [11]:
if len(studenti)==len(corsi):
    print(set(corsi))  # casto la lista in set per avere elementi univoci

{'Data Analyst', 'Cybersecurity', 'Backend', 'Frontend'}

**Esercizio**

Scriviamo un programma che chiede in input all'utente una stringa e visualizza i primi 3 caratteri, seguiti da 3 punti di sospensione e quindi gli ultimi 3 caratteri, similmente all'esercizio della lezione scorsa. Stavolta facciamo attenzione a tutti i casi particolari, ovvero implementare soluzioni ad hoc per stringhe di lunghezza inferiore a 6 caratteri.

Inserire un stringa

In [12]:
str_=input("Inserisci una stringa:")

Inserisci una stringa: W13D2_ESERCIZIO_SCARCELLI_PYTHON.ipynb

In [13]:
if len(str_)<6:
    print(str_[0:3],'...')
else:
    print(str_[0:3],'...',str_[-3::])

W13 ... ynb

**Esercizio**

Memorizza e stampa tutti i fattori di un numero dato in input. Esempio: 
* input: 150
* output: [2, 3, 5, 5]

In [14]:
numero=int(input('Inserisci un numero:'))
fattori=[]
div=2
while div<=numero:
    if numero%div==0:
        print("numero:",numero,"divisore:",div)
        numero//=div
        fattori.append(div)
        while numero%div==0:
            print("numero:",numero,"divisore:",div)
            numero//=div
            fattori.append(div)        
    div+=1
print(fattori)

Inserisci un numero: 150

numero: 150 divisore: 2
numero: 75 divisore: 3
numero: 25 divisore: 5
numero: 5 divisore: 5
[2, 3, 5, 5]

**Esercizio**

Abbiamo la stringa: nome_scuola = "Epicode" Stampare ogni carattere della stringa, uno su ogni riga, utilizzando un costrutto for.

In [15]:
nome_scuola="Epicode"

In [16]:
for i in nome_scuola:
    print("-",i)

- E
- p
- i
- c
- o
- d
- e

**Esercizio**

Calcolare e stampare tutte le prime 10 potenze di 2 utilizzando un ciclo. Utilizzeremo: 
* un ciclo per generare i primi 10 numeri, e.g.:
  
*range_numerico = list()  # init 

num = 1  # init

while num <= 10: 

range_numerico.append(num) 

num += 1*

In [17]:
range_numerico = list()   
num = 1 
while num <= 10:
    range_numerico.append(num) 
    num += 1
print(range_numerico)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
for i in range_numerico:
    potenza=2**i
    print("2^",i,"=",potenza)

2^ 1 = 2
2^ 2 = 4
2^ 3 = 8
2^ 4 = 16
2^ 5 = 32
2^ 6 = 64
2^ 7 = 128
2^ 8 = 256
2^ 9 = 512
2^ 10 = 1024

**Esercizio**

Calcolare (ma non stampare) le prime N potenze di K; ognuna di esse andrà memorizzata in coda a una lista. 

Alla fine, stampare la lista risultante. Proviamo con diversi valori di K, oppure facciamola inserire all'utente. 

Realizzare due versioni: 
*con un ciclo while,
*con un ciclo for.

In [19]:
variabile_K=int(input("Inserisci il valore k:"))
potenza=int(input("Inserisci le n potenze di k:"))

Inserisci il valore k: 4
Inserisci le n potenze di k: 4

**versione ciclo while**

In [20]:
potenza_b=0
valori_potenze=[]
while potenza_b<=potenza:
    valori_potenze.append(variabile_K**potenza_b)
    potenza_b+=1
print("valori potenze di",variabile_K,"alla n:",valori_potenze)

valori potenze di 4 alla n: [1, 4, 16, 64, 256]

**versione ciclo for**

In [21]:
lista_potenza=[]
valori_potenze_b=[]
potenza_c=0
while potenza_c <= potenza:
    lista_potenza.append(potenza_c)
    potenza_c+=1
for i in lista_potenza:
    valori_potenze_b.append(variabile_K**i)
print("lista potenze",lista_potenza)
print("valori potenze di",variabile_K,"alla n:",valori_potenze_b)

lista potenze [0, 1, 2, 3, 4]
valori potenze di 4 alla n: [1, 4, 16, 64, 256]

**Esercizio**

Abbiamo una lista con i guadagni degli ultimi 12 mesi: 
* guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50]

usando un costrutto for, calcolare la media dei guadagni e stamparla a video.

In [22]:
guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50]

In [23]:
somma_guadagni=0
for i in guadagni:
    somma_guadagni+= i
print("media guadagni",somma_guadagni/len(guadagni))

media guadagni 70.0

In [24]:
print("media guadagni =",sum(guadagni)/len(guadagni))

media guadagni = 70.0

**Esercizio**

Abbiamo una lista di parole:
* parole = ["Albergo", "Sedia", "Borgo", "Petalo", "Eremo", "Belvedere", "Semestre", "Esteta", "Sosta", "Orpello", "Abete", "Orologio", "Cesta", "Ermellino"]

stampiamo, per ogni parola, quante volte appare la lettera "e"; facciamo attenzione al fatto che appare sia maiuscola che minuscola.

In [25]:
parole = ["Albergo", "Sedia", "Borgo", "Petalo", "Eremo", "Belvedere", "Semestre", "Esteta", "Sosta", "Orpello", "Abete", "Orologio", "Cesta", "Ermellino"]

In [26]:
for i in parole:
    print(i,", contine:",i.lower().count("e"),"lettere e")

Albergo , contine: 1 lettere e
Sedia , contine: 1 lettere e
Borgo , contine: 0 lettere e
Petalo , contine: 1 lettere e
Eremo , contine: 2 lettere e
Belvedere , contine: 4 lettere e
Semestre , contine: 3 lettere e
Esteta , contine: 2 lettere e
Sosta , contine: 0 lettere e
Orpello , contine: 1 lettere e
Abete , contine: 2 lettere e
Orologio , contine: 0 lettere e
Cesta , contine: 1 lettere e
Ermellino , contine: 2 lettere e

**Esercizio** 

Creiamo un dizionario che assegni ad ogni proprietario la sua auto, sapendo che: 
* Ada guida una Punto
* Ben guida una Multipla
* Charlie guida una Golf
* Debbie guida una 107

Stampiamo il dizionario per intero, e poi l'auto associata a Debbie.

In [27]:
auto={'ada':'punto','ben':'multipla','charlie':'golf','debbie':'107'}

In [28]:
auto

{'ada': 'punto', 'ben': 'multipla', 'charlie': 'golf', 'debbie': '107'}

In [29]:
print("auto associata a debbie è:",auto.get('debbie'))

auto associata a debbie è: 107

**Esercizio**

Abbiamo un dizionario che assegna ad ogni proprietario la sua auto: 
* dizionario_auto = {"Ada": "Punto", "Ben": "Multipla", "Charlie": "Golf", "Debbie": "107"}

Con un ciclo, e usando il metodo .values(), stampiamo a video tutte le auto che non sono una Multipla.

In [30]:
dizionario_auto = {"Ada": "Punto", "Ben": "Multipla", "Charlie": "Golf", "Debbie": "107"}

In [31]:
for i in dizionario_auto.values():
    if i !='Multipla':
        print(i)

Punto
Golf
107

**Esercizio**

Abbiamo due dizionari che assegnano ad ogni proprietario la propria auto: 
* dizionario_auto = {"Ada": "Punto", "Ben": "Multipla", "Charlie": "Golf", "Debbie": "107", "Emily": "A1"}
* nuovi_proprietari = {"Ben": "Polo", "Fred": "Octavia", "Grace": "Yaris", "Hugh": "Clio"}

Aggiornare il dizionario dizionario_auto con i dati contenuti in nuovi_proprietari e stamparlo. Cosa è successo a Ben?

In [32]:
dizionario_auto = {"Ada": "Punto", "Ben": "Multipla", "Charlie": "Golf", "Debbie": "107", "Emily": "A1"}
nuovi_proprietari = {"Ben": "Polo", "Fred": "Octavia", "Grace": "Yaris", "Hugh": "Clio"}

In [33]:
dizionario_auto.update(nuovi_proprietari)

In [34]:
print(dizionario_auto)
print("Ben attualmente possiede una",dizionario_auto.get("Ben"),", la sua auto precedente era Multipla")

{'Ada': 'Punto', 'Ben': 'Polo', 'Charlie': 'Golf', 'Debbie': '107', 'Emily': 'A1', 'Fred': 'Octavia', 'Grace': 'Yaris', 'Hugh': 'Clio'}
Ben attualmente possiede una Polo , la sua auto precedente era Multipla

**Esercizio**

Osservando la sintassi dei dizionari, possiamo notare qualche affinità con il formato JSON?

I file JSON sono degli enormi dizionari

**Esercizio**

Scrivere un programma che, data una lista di numeri, fornisca in output il minimo e il massimo (possiamo usare o meno le funzioni built-in min() e max()).

In [35]:
numero_min=1
numero_max=281
lista_numeri=[]
while numero_min<=numero_max:
    lista_numeri.append(numero_min)
    numero_min+=1
print('il minimo della lista è il numero:',min(lista_numeri))
print('il massimo della lista è il numero:',max(lista_numeri))

il minimo della lista è il numero: 1
il massimo della lista è il numero: 281

**Esercizio**

Scrivere un programma che, data una lista di numeri, fornisca in output i tre numeri più grandi; gestire il caso in cui la lista sia più corta di tre, e quando uno o più dei numeri selezionati sono uguali.

In [36]:
numero_min=1
numero_max=281
lista_numeri=[]
while numero_min<=numero_max:
    lista_numeri.append(numero_min)
    numero_min+=1
if len(lista_numeri)>=3:
    print("i tre numeri grandi",lista_numeri[-3:])
else:
    print("i numeri più grandi",lista_numeri[-3:])
# i numeri non possono essere uguali perchè sono creati progressivamente

i tre numeri grandi [279, 280, 281]

**Esercizio** 

Scrivere un programma che in input acquisisce una lista di numeri e un numero K, in output, dovrà restituire la media di tutti i numeri nella lista maggiori o uguali a K, se non ce ne dovesse essere nessuno, dovrà stampare a schermo un messaggio adeguato.

In [37]:
list=[]
l_list=int(input("inserisci lunghezza lista"))

inserisci lunghezza lista 5

In [38]:
numero_k=int(input("inserisci la variabile k"))
i=0
while i<l_list:
    list.append(int(input("inserisci un numero nella lista:")))
    i+=1
numeri_somma=0
contatore=0
for i in list:
    if i>=numero_k:
        numeri_somma+=i
        contatore+=1
if numeri_somma==0:
    print("nessun numero è maggiore di k=",numero_k)
else: print("media numeri maggiori di k",numeri_somma/contatore)

inserisci la variabile k 3
inserisci un numero nella lista: 1
inserisci un numero nella lista: 3
inserisci un numero nella lista: 5
inserisci un numero nella lista: 7
inserisci un numero nella lista: 9

media numeri maggiori di k 6.0

In [39]:
list

[1, 3, 5, 7, 9]

**Esercizio**

Scrivere un programma che, data una lista di numeri, come output stamperà lo stesso numero di asterischi su righe diverse, ottenendo una semplice visualizzazione grafica Esempio, supponendo di avere il seguente input: 

*numeri = [5, 2, 3, 4]*

L'output sarà: ***** ** *** ****

In [40]:
numeri=[5,2,3,4]

In [41]:
for i in numeri:
     print('*'*i)

*****
**
***
****

**Esercizio**

Abbiamo una lista di codici fiscali:
*lista_cf = ["ABCDEF95G01A123B", "GHIJKL91M02A321C", "MNOPQR89S03A456D", "STUVWX95Z04A654E", "XYZABC01D05A789F", "DEFGHI95J06A987G"] 

trovare i codici fiscali che contengono "95", metterli in una lista, e alla fine stamparla; inoltre, per ognuno di essi, stampare a video i caratteri relativi al nome e quelli relativi al cognome.

In [42]:
lista_cf = ["ABCDEF95G01A123B", "GHIJKL91M02A321C", "MNOPQR89S03A456D", "STUVWX95Z04A654E", "XYZABC01D05A789F", "DEFGHI95J06A987G"]

In [43]:
lista_cf_95=[]
for i in lista_cf:
    if "95" in i:
        lista_cf_95.append(i)
        print('nome:',i[3:6],'cognome:',i[0:3],'del cf:',i)
print(lista_cf_95)

nome: DEF cognome: ABC del cf: ABCDEF95G01A123B
nome: VWX cognome: STU del cf: STUVWX95Z04A654E
nome: GHI cognome: DEF del cf: DEFGHI95J06A987G
['ABCDEF95G01A123B', 'STUVWX95Z04A654E', 'DEFGHI95J06A987G']

**Esercizio**

Abbiamo tre liste della stessa lunghezza, dove ogni elemento nella medesima posizione si riferisce ai dati dello stesso studente: 
* studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"]
* corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend", "Frontend", "Cybersecurity"]
* edizioni = [1, 2, 3, 2, 2, 1, 3, 3] 

Stampare a video tutti e soli gli studenti che frequentano una prima edizione; non tutti i dati potrebbero essere necessari. Riuscite a vedere una similarità con la logica che si usa in SQL e le tabelle relazionali?

In [44]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"]
corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend", "Frontend", "Cybersecurity"]
edizioni = [1, 2, 3, 2, 2, 1, 3, 3]

indice=0
for i in edizioni:
    if i==1:
        print("Studente che partecipa a prima edizione:", studenti[indice])
    indice+=1

Studente che partecipa a prima edizione: Alex
Studente che partecipa a prima edizione: Faith

**Esercizio**

Abbiamo una lista di stringhe di prezzi in dollari, che erroneamente sono stati scritti con il simbolo dell'euro: 
* prezzi = ["100 €", "200 €", "500 €", "10 €", "50 €", "70 €"] 

cambiare il simbolo dell'euro (€) in quello del dollaro ($) per ogni stringa nella lista; il risultato sarà memorizzato in un'altra lista.

In [45]:
prezzi = ["100 €", "200 €", "500 €", "10 €", "50 €", "70 €"]

In [46]:
prezzi_dollari=[]
for i in prezzi:
    prezzi_dollari.append(i.replace('€','$'))
print("prezzi_$=",prezzi_dollari)

prezzi_$= ['100 $', '200 $', '500 $', '10 $', '50 $', '70 $']

**Esercizio**

Abbiamo una lista di studenti: 
* studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry", "Isabelle", "John"]

vogliamo dividere gli studenti in due squadre per un campionato di Uno nel seguente modo: selezioneremo i nomi in posizione pari per un squadra, e i nomi in posizione dispari per l'altra. Creiamo due liste per ogni squadra, e alla fine visualizziamole.

In [47]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry", "Isabelle", "John"]
squadra_1=studenti[0::2]
squadra_2=studenti[1::2]
print("squadra 1:", squadra_1)
print("squadra 2:", squadra_2)

squadra 1: ['Alex', 'Cindy', 'Emma', 'Grace', 'Isabelle']
squadra 2: ['Bob', 'Dan', 'Faith', 'Henry', 'John']

**Esercizio**

Abbiamo una lista con i guadagni degli ultimi 12 mesi (supponiamo da Gennaio a Dicembre): 
* guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50]

dobbiamo confrontare, stampando tutto a video, il guadagno di ogni mese con la media dei guadagni precedenti, e specificare nell'output se il guadagno attuale è maggiore o minore della media dei precedenti. Esempio di un possibile output: Mese 1: 100 € Mese 2: 90 € (media prec: 100 € - il guadagno attuale è minore) Mese 3: 70 € (media prec: 95 € - il guadagno attuale è minore)

In [48]:
guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50]
mese=1
progressivo_guadagni=0
for guadagno in guadagni:
    progressivo_guadagni+=guadagno
    media=progressivo_guadagni/mese
    if media<=guadagno:
        print("Mese", mese, ":", guadagno, "€", "il guadagno attuale è maggiore della media")
    else:
        print("Mese", mese, ":", guadagno, "€", "il guadagno attuale è mimore della media")
    mese+=1

Mese 1 : 100 € il guadagno attuale è maggiore della media
Mese 2 : 90 € il guadagno attuale è mimore della media
Mese 3 : 70 € il guadagno attuale è mimore della media
Mese 4 : 40 € il guadagno attuale è mimore della media
Mese 5 : 50 € il guadagno attuale è mimore della media
Mese 6 : 80 € il guadagno attuale è maggiore della media
Mese 7 : 90 € il guadagno attuale è maggiore della media
Mese 8 : 120 € il guadagno attuale è maggiore della media
Mese 9 : 80 € il guadagno attuale è maggiore della media
Mese 10 : 20 € il guadagno attuale è mimore della media
Mese 11 : 50 € il guadagno attuale è mimore della media
Mese 12 : 50 € il guadagno attuale è mimore della media