# ESERCIZI W14D3

In [1]:
import numpy as np
import pandas as pd

**Esercizio**
Abbiamo una lista di liste: 
* mat = [[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12, 13, 14]]

Che tipo di struttura dati o matematica potrebbe rappresentare? Notare che tutte le liste "interne" sono della stessa dimensione Come facciamo per accedere ad un elemento in particolare?

In [2]:
#MATRICE
mat = [[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12, 13, 14]]
mat=np.array(mat)
mat

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [3]:
mat[0][-1] # accedo con gli indici

4

**Esercizio**

Importiamo il modulo math e proviamo a usare le funzioni 
* .sin() 
* .cos() 
* .factorial() 

e la variabile .pi la riconoscete?

In [4]:
import math

In [5]:
math.sin(20)

0.9129452507276277

In [6]:
math.cos(20)

0.40808206181339196

In [7]:
math.factorial(5)

120

In [8]:
help(math.factorial)

Help on built-in function factorial in module math:

factorial(n, /)
    Find n!.

    Raise a ValueError if x is negative or non-integral.

In [9]:
print(math.pi) # variabile pi greco

3.141592653589793

**Esercizio**

Proviamo a eseguire

*math.degrees(math.pi)*

Qual è e cosa significa il risultato? Per saperne di più su questa funzione possiamo usare 

*help(math.degrees)*

In [10]:
math.pi # pi greco

3.141592653589793

In [11]:
math.degrees(math.pi) # il radiante del pi greco è un angolo piatto 180°

180.0

In [12]:
help(math.degrees)

Help on built-in function degrees in module math:

degrees(x, /)
    Convert angle x from radians to degrees.

**Esercizio**

L'azienda Object SpA ha creato una lista di quanti oggetti ha venduto ogni mese nell'ultimo anno:

*lst = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350]*

trasformiamola in un array NumPy (casting): 

*lst = np.array(lst)*

e rispondiamo alle domande del CEO della Object SpA:
* qual è stata la vendita massima mensile? E quella minima?
* quali sono le vendite mensili maggiori di 4999 oggetti? E quante ne sono?
* quali sono le vendite minori di 3000 oggetti?
* in media quanti oggetti sono stati venduti al mese?

In [13]:
lst = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350]

In [14]:
lst=np.array(lst)
print("la vendita mensile massima è pari a:",lst.max(),'oggetti')
print("la vendita mensile minima è paria a:",lst.min(),'oggetti')
# conteggio >4999
conteggio=0
list_4999=[]
for i in lst:
    if i>4999:
        conteggio+=1
        list_4999.append(i)
print("lista vendite mensile maggiori di 4999 oggetti:",list_4999)
print("il conteggio delle vendite mensile maggiori di 4999 oggetti sono:",conteggio)
# conteggio <3000
conteggio=0
list_3000=[]
for i in lst:
    if i<3000:
        conteggio+=1
        list_3000.append(i)
print("lista vendite mensile minori di 3000 oggetti:",list_3000)

# con i filtri
filtro=lst>4999
print("Le vendite maggiori di 4999 sono:",lst[filtro])
print("Le vendite minori di 3000 sono:",lst[lst<3000])
# la media
print("la media delle vendite mensili:",lst.mean())

la vendita mensile massima è pari a: 8150 oggetti
la vendita mensile minima è paria a: 1280 oggetti
lista vendite mensile maggiori di 4999 oggetti: [5500, 7200, 6410, 8150, 7100, 5350]
il conteggio delle vendite mensile maggiori di 4999 oggetti sono: 6
lista vendite mensile minori di 3000 oggetti: [2000, 1280, 1900, 2500]
Le vendite maggiori di 4999 sono: [5500 7200 6410 8150 7100 5350]
Le vendite minori di 3000 sono: [2000 1280 1900 2500]
la media delle vendite mensili: 4634.166666666667

**Esercizio**

Consideriamo il seguente dizionario: 

*fatturati_dict = {1997: 12_000, 1998: 15_000, 1999: 20_000, 2000: 23_000, 2001: 25_000, 2002: 17_000, 2003: 14_000, 2004: 21_000}*
Consideriamo ora la seguente Series: 

*fatturati_series = pd.Series([12_000, 15_000, 20_000, 23_000, 25_000, 17_000, 14_000, 21_000], index=range(1997, 2005))* 

Possiamo accedere alle stesse informazioni nello stesso modo: 

*fatturati_dict[1997]* 

*fatturati_series[1997]* 

Dunque qual è la differenza tra i due tipi di dato?
Cosa potremmo fare con la Series che non possiamo fare con il dizionario?

In [15]:
fatturati_dict = {1997: 12_000, 1998: 15_000, 1999: 20_000, 2000: 23_000, 2001: 25_000, 2002: 17_000, 2003: 14_000, 2004: 21_000}

fatturati_series = pd.Series([12_000, 15_000, 20_000, 23_000, 25_000, 17_000, 14_000, 21_000], index=range(1997, 2005))

In [16]:
fatturati_dict

{1997: 12000,
 1998: 15000,
 1999: 20000,
 2000: 23000,
 2001: 25000,
 2002: 17000,
 2003: 14000,
 2004: 21000}

In [17]:
fatturati_dict[1997]

12000

In [18]:
fatturati_series

1997    12000
1998    15000
1999    20000
2000    23000
2001    25000
2002    17000
2003    14000
2004    21000
dtype: int64

In [19]:
fatturati_series[1997]

12000

La serie ha i dati organizzati in ordine quindi ci posso accedere con gli indici, estrazioni e tutte le funzioni annesse

**Esercizio**

L'azienda Object SpA ha un dataset con tutti gli stipendi dei dipendenti, memorizzato in un ndarray: 

*import numpy as np stipendi = np.array( [100, 200, 300, 400, 500,  600, 700, 800, 900, 1000] )*

L'azienda ci chiede di raddoppiare tutti gli stipendi; facciamolo in due modi: 
* con un ciclo for
* con il masking

In [20]:
stipendi = np.array( [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000] )

In [21]:
stipenti_aumentati=[]
for stipendio in stipendi:
    stipenti_aumentati.append(stipendio*2)
print("stipendi raddoppiati ciclo for", stipenti_aumentati)
print("stipendi raddoppiati masking", stipendi*2)

stipendi raddoppiati ciclo for [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]
stipendi raddoppiati masking [ 200  400  600  800 1000 1200 1400 1600 1800 2000]